@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fca8c3;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.target {
    background: #fff;
    margin: 40px 0;
    border-radius: 5px;
    overflow: hidden; /* para que solo quede entro el contenido de la tarjeta*/
    z-index: 1000;
    width: 100%;
}
 
/* Slider Banner */

.slider_banner {
    overflow: hidden;
    z-index: 1000;
    position: relative;
}

.slider_banner .banner {
    position: relative;
    width: 100%;
}

.slider_banner .banner img {
    vertical-align: top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}

.slider_banner .flecha-banner {
    font-size: 35px;
    line-height: 35px;
    color: rgba(0,0,0,.3);
    position: absolute;
    top: 50%;
    z-index: 1100;
}

.slider_banner .flecha-banner:hover {
    color: rgba(0,0,0,.5);
}

.slider_banner .anterior {
    left: 20px;
}

.slider_banner .siguiente {
    right: 20px;
}

/* Slider info */

.slider_info {
    text-align: center;
    overflow: hidden; /*oculta los demas elementos del contenedor*/
    padding: 20px 0;
    z-index: 1000;
    position: relative;
}

/*seccion informacion*/

.slider_info .informacion {
    width: 100%;
}

.slider_info .informacion article{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider_info .informacion article .slide {
   
    width: 100%;
    left: 100%;
    position: absolute;
    padding: 20px 80px;
}

.slider_info .flecha-info {
    font-size: 35px;
    line-height: 35px;
    color: rgba(0,0,0,.3);
    position: absolute;
    top: 50%;
    z-index: 1000;
}

.slider_info .flecha-info:hover {
    color: rgba(0,0,0,.5);
}

.slider_info .flecha-info.anterior {
    left: 20px;
}

.slider_info .flecha-info.siguiente {
    right: 20px;
}

/* estilos para slide de info */

section .slider_info {
    background: #dae5cc;
}

.slider_info .informacion .nombre {
    color: #444;
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 16px;
}

.slider_info .informacion .trabajo {
    color: #050505;
    font-size: 18px;
    line-height: 18px;
    
}

.slider_info .informacion .pais {
    color: #030303;
    font-size: 14px;
    line-height: 14px;
    margin-top: 16px;
}

.slider_info .informacion .pais img {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.slider_info .informacion .texto {
    color: #02080c;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

}

.slider_info .informacion .subtitulo {
    color: rgb(5, 5, 5);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
    
}

/* Botones slider info */

.slider_info .botones {
    width: 100%;
}

.slider_info .botones span {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    background: #02080c;
}

.slider_info .botones .active {
    background: #050505;
}

/* redes sociales */

section .redes_sociales {
    background: #dae5cc;
}

.redes_sociales {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.redes_sociales a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 20px;
    padding: 14px 0;
    color: #fff;
    background: #000;
    border-radius: 50%;
    margin: 0 10px;
}

.redes_sociales i {
    font-size: 25px;
}

.redes_sociales .linkedin {background: #0077B5;}
.redes_sociales .github {background: #000;}
.redes_sociales .email {background:rgb(243, 143, 143);}